.main-img{
    width: 50%;
    padding-top: 2rem;
    padding-bottom: 1rem;
    height:auto;

    @include respond(tablet){
        width: 35%;
    }

    @include respond(desktop){
        width: 20%;
    }
}

.inline-popups{
    text-align:center;

    @include respond(tablet){
        text-align: left;
    }
}

.matchbook{
    
    @include respond(tablet){
        display:flex;
        width: 100%;
        flex-wrap:wrap;
        justify-content: space-around;
    }
}

.match-book-img{
    width: 30%;
    height:auto;
    padding-bottom: 1rem;

    @include respond(tablet){
        display:flex;
        width: 20rem;
        height:auto;
        padding: 1rem 1rem;
        
    }
   
    
}