.white-popup{
    display:flex;
    flex-direction: column;
    font-size: 1.6rem;
}

.test-popup-description{
    overflow:auto;
}

// float:left;
//     width: 40%;
//     height: 60vh;
//     padding-right: 1rem;